
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
  margin-top: 2rem;
}

.container{
  margin: auto;
}
  
.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
  
.col{
  width: auto;
  flex-basis: auto;
  padding: 1rem;
}