
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

ul{
  list-style: none;
}

li a{
  text-decoration: none;
  color: white;
}

.container{
  margin: auto;
  width: 95%;
}
  
.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}
  
.col{
  width: auto;
  flex-basis: auto;
}

[class^='col-']{
  padding: 0.5rem;
}

img{
  width: 100%;
}



/* Media query */

.col-12{
  width: 100%;
}

@media screen and (min-width: 568px){
  .col-sm-6{
      width: 50%;
  }
}

@media screen and (min-width: 768px){
  .col-md-4{
      width: calc(100% / 12 * 4);
  }

  header ul{
    flex-direction: row;
    margin-left: 4rem;
  }
}

@media screen and (min-width: 1024px){
  .col-lg-3{
    width: calc(100% / 12 * 3);
  }
  
  header input{
    width: 200px;
  }
}

/* @media screen and (min-width: 1200px){
  .col-xl-4{
      width: calc(100% / 12 * 4);
  }

  .col-xl-3{
      width: calc(100% / 12 * 3);
  }
} */

@media screen and (min-width: 1440px){
  .col-xxl{
      width: calc(100% / 5);
  }
}



/* AppMain */

section h1{
  margin-top: 2rem;
}

.movie_card, .serieTV_card, .mix_card{
  position: relative;
}

.information{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  overflow: auto;
  z-index: -1;
  transition: all 0.5s;
}

.movie_card:hover .information, 
.serieTV_card:hover .information,
.mix_card:hover .information{
  background-color: rgb(27, 26, 26);
  box-shadow: 0 0 20px white;
  z-index: 1;
}

.category{
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: 700;
  font-size: 18px;
}

.star_vote_average i{
  color: gold;
}

.title, .original_title, .language, .star_vote_average, .overview {
  padding: 0 1rem;
}

.overview{
  display: none;
}

.movie_card:hover .overview, 
.serieTV_card:hover .overview,
.mix_card:hover .overview{
  display: block;
}
